<splash-screen [splashAnimationType]="1" [duration]="2" [animationDuration]="0.5"></splash-screen>
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i>
      <fa-icon [icon]="faBars"></fa-icon>
    </i>
  </label>
  <label class="logo"><img src="../../assets/Group.svg" alt=""></label>
  <ul>
    <li><a routerLinkActive="active" routerLink="#">Início</a></li>
    <li><a routerLinkActive="active" routerLink="#">Listar Validação</a></li>

  </ul>

</nav>

<section>
  <div class="content">
    <app-cam></app-cam>
  </div>
</section>